@charset "UTF-8";

body{
    background-color: rgb(139, 197, 195);
    font-family: Arial, Helvetica, sans-serif;
   
}

section{
    background-color: white;
    text-align: center;
    width: 500px;   
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.204);
}

h1{
    text-align: center;
    color: white;
}

p{
  line-height: 0.5;
}